In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1 = pd.read_csv("../data/지역별 보건기관 이용률.csv", encoding='cp949')
df1

     시군구별(1)  시군구별(2)  시군구별(3)      2019  2019.1  2019.2  표준화율 (%)    2019.3
0    시군구별(1)  시군구별(2)  시군구별(3)  응답자수 (명)  조율 (%)  조율표준오차  표준화율 (%)  표준화율표준오차
1      서울특별시       소계       소계     22918    21.6     0.3      19.8       0.3
2      서울특별시      강남구       소계       922    14.4     1.1      13.3       1.1
3      서울특별시      강동구       소계       920    24.2     1.8      21.7       1.4
4      서울특별시      강북구       소계       918    25.6     1.5      21.7       1.5
..       ...      ...      ...       ...     ...     ...       ...       ...
283  제주특별자치도     서귀포시       서부       826    44.5     3.6      36.9       2.2
284  제주특별자치도      제주시       소계      2534    25.9     1.2      24.5       1.3
285  제주특별자치도      제주시       제주       855    24.5     1.5      23.9       1.6
286  제주특별자치도      제주시       동부       834    34.4     2.2      28.9       2.3
287  제주특별자치도      제주시       서부       845    28.3       2      22.9       1.6

[288 rows x 8 columns]

In [4]:
df1 = df1[1:]
df1

     시군구별(1) 시군구별(2) 시군구별(3)   2019 2019.1 2019.2 표준화율 (%) 2019.3
1      서울특별시      소계      소계  22918   21.6    0.3     19.8    0.3
2      서울특별시     강남구      소계    922   14.4    1.1     13.3    1.1
3      서울특별시     강동구      소계    920   24.2    1.8     21.7    1.4
4      서울특별시     강북구      소계    918   25.6    1.5     21.7    1.5
5      서울특별시     강서구      소계    918   16.7    1.2     15.6    1.2
..       ...     ...     ...    ...    ...    ...      ...    ...
283  제주특별자치도    서귀포시      서부    826   44.5    3.6     36.9    2.2
284  제주특별자치도     제주시      소계   2534   25.9    1.2     24.5    1.3
285  제주특별자치도     제주시      제주    855   24.5    1.5     23.9    1.6
286  제주특별자치도     제주시      동부    834   34.4    2.2     28.9    2.3
287  제주특별자치도     제주시      서부    845   28.3      2     22.9    1.6

[287 rows x 8 columns]

In [5]:
df1 = df1[df1['시군구별(2)'] != '소계']
df1

     시군구별(1) 시군구별(2) 시군구별(3)  2019 2019.1 2019.2 표준화율 (%) 2019.3
2      서울특별시     강남구      소계   922   14.4    1.1     13.3    1.1
3      서울특별시     강동구      소계   920   24.2    1.8     21.7    1.4
4      서울특별시     강북구      소계   918   25.6    1.5     21.7    1.5
5      서울특별시     강서구      소계   918   16.7    1.2     15.6    1.2
6      서울특별시     관악구      소계   915     23    1.5     21.4    1.3
..       ...     ...     ...   ...    ...    ...      ...    ...
283  제주특별자치도    서귀포시      서부   826   44.5    3.6     36.9    2.2
284  제주특별자치도     제주시      소계  2534   25.9    1.2     24.5    1.3
285  제주특별자치도     제주시      제주   855   24.5    1.5     23.9    1.6
286  제주특별자치도     제주시      동부   834   34.4    2.2     28.9    2.3
287  제주특별자치도     제주시      서부   845   28.3      2     22.9    1.6

[270 rows x 8 columns]

In [7]:
df1_result = df1[['시군구별(1)', '시군구별(2)', '표준화율 (%)']]
df1_result

     시군구별(1) 시군구별(2) 표준화율 (%)
2      서울특별시     강남구     13.3
3      서울특별시     강동구     21.7
4      서울특별시     강북구     21.7
5      서울특별시     강서구     15.6
6      서울특별시     관악구     21.4
..       ...     ...      ...
283  제주특별자치도    서귀포시     36.9
284  제주특별자치도     제주시     24.5
285  제주특별자치도     제주시     23.9
286  제주특별자치도     제주시     28.9
287  제주특별자치도     제주시     22.9

[270 rows x 3 columns]

In [9]:
df1_result.to_csv("./result/processed_지역별 보건기관 이용률.csv", header=False, index=False, encoding='cp949')

In [10]:
df2 = pd.read_csv("../data/지역별 미충족의료율.csv", encoding='cp949')

In [11]:
df2 = df2[1:]
df2 = df2[df2['시군구별(2)'] != '소계']
df2

     시군구별(1) 시군구별(2) 시군구별(3)  2019 2019.1 2019.2 표준화율 (%) 2019.3
2      서울특별시     강남구      소계   896    3.6    0.7      3.3    0.6
3      서울특별시     강동구      소계   905    5.8    0.9      5.9    0.8
4      서울특별시     강북구      소계   876      5    0.8      5.2    0.9
5      서울특별시     강서구      소계   909    6.3    0.9      6.4    0.9
6      서울특별시     관악구      소계   873    6.3    0.7      6.3    0.7
..       ...     ...     ...   ...    ...    ...      ...    ...
283  제주특별자치도    서귀포시      서부   735    7.1    1.5        8    1.5
284  제주특별자치도     제주시      소계  2473    4.4    0.6      4.4    0.7
285  제주특별자치도     제주시      제주   824    4.4    0.7      4.4    0.8
286  제주특별자치도     제주시      동부   833    1.3    0.6      0.9    0.3
287  제주특별자치도     제주시      서부   816    5.9      1      6.1    1.2

[270 rows x 8 columns]

In [12]:
df2_result = df2[['시군구별(1)', '시군구별(2)', '표준화율 (%)']]
df2_result

     시군구별(1) 시군구별(2) 표준화율 (%)
2      서울특별시     강남구      3.3
3      서울특별시     강동구      5.9
4      서울특별시     강북구      5.2
5      서울특별시     강서구      6.4
6      서울특별시     관악구      6.3
..       ...     ...      ...
283  제주특별자치도    서귀포시        8
284  제주특별자치도     제주시      4.4
285  제주특별자치도     제주시      4.4
286  제주특별자치도     제주시      0.9
287  제주특별자치도     제주시      6.1

[270 rows x 3 columns]

In [13]:
df2_result.to_csv("./result/processed_지역별 미충족의료율.csv", header=False, index=False, encoding='cp949')

In [14]:
df3 = pd.read_csv("../data/지역별 우울감 경험률.csv", encoding='cp949')
df3 = df3[1:]
df3 = df3[df3['시군구별(2)'] != '소계']
df3

     시군구별(1) 시군구별(2) 시군구별(3)  2019 2019.1 2019.2 2019.3 2019.4
2      서울특별시     강남구      소계   922    6.0    0.9    6.6    0.9
3      서울특별시     강동구      소계   920    6.7    0.8    6.6    0.9
4      서울특별시     강북구      소계   914    6.4    1.0    6.3    1.0
5      서울특별시     강서구      소계   918    5.6    0.7    5.4    0.7
6      서울특별시     관악구      소계   916    7.0    0.9    7.1    1.0
..       ...     ...     ...   ...    ...    ...    ...    ...
283  제주특별자치도    서귀포시      서부   824    2.9    0.8    2.8    0.9
284  제주특별자치도     제주시      소계  2535    4.9    0.7    4.7    0.6
285  제주특별자치도     제주시      제주   855    4.5    0.8    4.4    0.8
286  제주특별자치도     제주시      동부   835    5.7    1.4    6.3    1.3
287  제주특별자치도     제주시      서부   845    6.5    1.1    5.5    0.9

[270 rows x 8 columns]

In [15]:
df3_result = df3[['시군구별(1)', '시군구별(2)', '2019.3']]
df3_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구    6.6
3      서울특별시     강동구    6.6
4      서울특별시     강북구    6.3
5      서울특별시     강서구    5.4
6      서울특별시     관악구    7.1
..       ...     ...    ...
283  제주특별자치도    서귀포시    2.8
284  제주특별자치도     제주시    4.7
285  제주특별자치도     제주시    4.4
286  제주특별자치도     제주시    6.3
287  제주특별자치도     제주시    5.5

[270 rows x 3 columns]

In [16]:
df3_result.to_csv("./result/processed_지역별 우울감 경험률.csv", header=False, index=False, encoding='cp949')

In [17]:
df4 = pd.read_csv("../data/지역별 삶의 질 지수.csv", encoding='cp949')
df4 = df4[1:]
df4 = df4[df4['시군구별(2)'] != '소계']
df4

     시군구별(1) 시군구별(2) 시군구별(3)  2019 2019.1 2019.2 2019.3 2019.4
2      서울특별시     강남구      소계   922  0.958  0.003  0.963  0.002
3      서울특별시     강동구      소계   920  0.950  0.004  0.958  0.003
4      서울특별시     강북구      소계   919  0.917  0.006  0.939  0.003
5      서울특별시     강서구      소계   919  0.946  0.004  0.953  0.003
6      서울특별시     관악구      소계   916  0.948  0.004  0.953  0.003
..       ...     ...     ...   ...    ...    ...    ...    ...
283  제주특별자치도    서귀포시      서부   826  0.939  0.007  0.958  0.004
284  제주특별자치도     제주시      소계  2534  0.950  0.003  0.958  0.002
285  제주특별자치도     제주시      제주   855  0.954  0.004  0.958  0.002
286  제주특별자치도     제주시      동부   834  0.938  0.004  0.960  0.003
287  제주특별자치도     제주시      서부   845  0.937  0.006  0.955  0.003

[270 rows x 8 columns]

In [18]:
df4_result = df4[['시군구별(1)', '시군구별(2)', '2019.3']]
df4_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구  0.963
3      서울특별시     강동구  0.958
4      서울특별시     강북구  0.939
5      서울특별시     강서구  0.953
6      서울특별시     관악구  0.953
..       ...     ...    ...
283  제주특별자치도    서귀포시  0.958
284  제주특별자치도     제주시  0.958
285  제주특별자치도     제주시  0.958
286  제주특별자치도     제주시  0.960
287  제주특별자치도     제주시  0.955

[270 rows x 3 columns]

In [19]:
df4_result.to_csv("./result/processed_지역별 삶의 질 지수.csv", header=False, index=False, encoding='cp949')

In [20]:
df5 = pd.read_csv("../data/지역별 건강생활 실천율.csv", encoding='cp949')
df5 = df5[1:]
df5 = df5[df5['시군구별(2)'] != '소계']
df5

     시군구별(1) 시군구별(2) 시군구별(3)  2019 2019.1 2019.2 2019.3 2019.4
2      서울특별시     강남구      소계   922   45.7    1.7   45.1    1.7
3      서울특별시     강동구      소계   920   38.7    1.7   38.4    1.8
4      서울특별시     강북구      소계   918   41.5    1.9   41.7    1.9
5      서울특별시     강서구      소계   918   43.9    1.5   43.1    1.8
6      서울특별시     관악구      소계   916   46.6    1.8   45.8    1.6
..       ...     ...     ...   ...    ...    ...    ...    ...
283  제주특별자치도    서귀포시      서부   826   18.6    2.6   18.6    1.7
284  제주특별자치도     제주시      소계  2535   28.1    1.8   27.6    1.3
285  제주특별자치도     제주시      제주   855   28.1    2.2   27.4    1.6
286  제주특별자치도     제주시      동부   835   31.7    3.2   32.7    2.3
287  제주특별자치도     제주시      서부   845   26.2    2.9   26.5    2.1

[270 rows x 8 columns]

In [21]:
df5_result = df5[['시군구별(1)', '시군구별(2)', '2019.3']]
df5_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구   45.1
3      서울특별시     강동구   38.4
4      서울특별시     강북구   41.7
5      서울특별시     강서구   43.1
6      서울특별시     관악구   45.8
..       ...     ...    ...
283  제주특별자치도    서귀포시   18.6
284  제주특별자치도     제주시   27.6
285  제주특별자치도     제주시   27.4
286  제주특별자치도     제주시   32.7
287  제주특별자치도     제주시   26.5

[270 rows x 3 columns]

In [22]:
df5_result.to_csv("./result/processed_지역별 건강생활 실천율.csv", header=False, index=False, encoding='cp949')

In [24]:
df6 = pd.read_csv("../data/지역별 중등도이상 신체활동 실천율.csv", encoding='cp949')
df6 = df6[1:]
df6 = df6[df6['시군구별(2)'] != '소계']
df6_result = df6[['시군구별(1)', '시군구별(2)', '2019.3']]
df6_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구   23.0
3      서울특별시     강동구   26.7
4      서울특별시     강북구   17.9
5      서울특별시     강서구   23.5
6      서울특별시     관악구   17.3
..       ...     ...    ...
283  제주특별자치도    서귀포시   25.2
284  제주특별자치도     제주시   23.7
285  제주특별자치도     제주시   20.9
286  제주특별자치도     제주시   20.4
287  제주특별자치도     제주시   40.6

[270 rows x 3 columns]

In [25]:
df6_result.to_csv("./result/processed_지역별 중등도이상 신체활동 실천율.csv", header=False, index=False, encoding='cp949')

In [26]:
df7 = pd.read_csv("../data/지역별 비만률.csv", encoding='cp949')
df7 = df7[1:]
df7 = df7[df7['시군구별(2)'] != '소계']
df7_result = df7[['시군구별(1)', '시군구별(2)', '2019.3']]
df7_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구   29.0
3      서울특별시     강동구   30.0
4      서울특별시     강북구   29.1
5      서울특별시     강서구   30.7
6      서울특별시     관악구   35.1
..       ...     ...    ...
283  제주특별자치도    서귀포시   38.8
284  제주특별자치도     제주시   38.1
285  제주특별자치도     제주시   38.2
286  제주특별자치도     제주시   39.9
287  제주특별자치도     제주시   36.1

[270 rows x 3 columns]

In [27]:
df7_result.to_csv("./result/processed_지역별 비만률.csv", header=False, index=False, encoding='cp949')

In [28]:
df8 = pd.read_csv("../data/지역별 흡연율.csv", encoding='cp949')
df8 = df8[1:]
df8 = df8[df8['시군구별(2)'] != '소계']
df8_result = df8[['시군구별(1)', '시군구별(2)', '2019.3']]
df8_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구   15.8
3      서울특별시     강동구   19.3
4      서울특별시     강북구   21.7
5      서울특별시     강서구   18.1
6      서울특별시     관악구   18.8
..       ...     ...    ...
283  제주특별자치도    서귀포시   22.4
284  제주특별자치도     제주시   21.1
285  제주특별자치도     제주시   21.0
286  제주특별자치도     제주시   19.0
287  제주특별자치도     제주시   22.7

[270 rows x 3 columns]

In [29]:
df8_result.to_csv("./result/processed_지역별 흡연율.csv", header=False, index=False, encoding='cp949')

In [30]:
df9 = pd.read_csv("../data/지역별 월간음주율.csv", encoding='cp949')
df9 = df9[1:]
df9 = df9[df9['시군구별(2)'] != '소계']
df9_result = df9[['시군구별(1)', '시군구별(2)', '2019.3']]
df9_result

     시군구별(1) 시군구별(2) 2019.3
2      서울특별시     강남구   64.4
3      서울특별시     강동구   60.7
4      서울특별시     강북구   62.1
5      서울특별시     강서구   61.5
6      서울특별시     관악구   60.0
..       ...     ...    ...
283  제주특별자치도    서귀포시   57.6
284  제주특별자치도     제주시   57.6
285  제주특별자치도     제주시   59.3
286  제주특별자치도     제주시   54.3
287  제주특별자치도     제주시   49.2

[270 rows x 3 columns]

In [31]:
df9_result.to_csv("./result/processed_지역별 월간음주율.csv", header=False, index=False, encoding='cp949')

In [40]:
df10 = pd.read_csv("../data/지역별 법정감염병.csv", encoding='cp949')
df10 = df10[3:]
df10 = df10[df10['행정구역별(2)'] != '소계']
df10

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,2017.9,2017.10,2017.11
4,서울특별시,종로구,0.26,164257,431,7,20,0,235,0,176,7,0,0
5,서울특별시,중구,0.21,134593,283,1,13,0,123,0,142,1,5,0
6,서울특별시,용산구,0.22,244444,542,13,37,0,276,0,226,13,3,0
7,서울특별시,성동구,0.22,312711,693,10,39,0,350,0,302,10,2,0
8,서울특별시,광진구,0.19,372298,724,8,37,0,427,0,258,8,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,경상남도,함양군,0.74,40582,302,0,0,0,65,0,236,0,1,0
243,경상남도,거창군,0.97,63290,613,2,1,0,287,0,324,2,1,0
244,경상남도,합천군,0.99,47542,473,0,1,0,162,0,309,0,1,0
246,제주특별자치도,제주시,0.30,492401,1453,0,28,-,1230,-,185,-,10,-
247,제주특별자치도,서귀포시,0.36,186371,665,4,14,-,541,1,97,-,13,3

In [41]:
df10_result = df10[['행정구역별(1)', '행정구역별(2)', '2017']]
df10_result

    행정구역별(1) 행정구역별(2)  2017
4      서울특별시      종로구  0.26
5      서울특별시       중구  0.21
6      서울특별시      용산구  0.22
7      서울특별시      성동구  0.22
8      서울특별시      광진구  0.19
..       ...      ...   ...
242     경상남도      함양군  0.74
243     경상남도      거창군  0.97
244     경상남도      합천군  0.99
246  제주특별자치도      제주시  0.30
247  제주특별자치도     서귀포시  0.36

[228 rows x 3 columns]

In [42]:
df10_result.to_csv("./result/processed_지역별 법정감염병.csv", header=False, index=False, encoding='cp949')