In [1]:
import numpy as np
import pandas as pd

In [38]:
data1 = pd.read_csv('../data/지역별 의료기관 및 병상수.csv', encoding='cp949')
result1 = data1.iloc[2:, [0,1,3,4,5]].replace('-','0').reset_index()

result1['병원수']=result1['2017.1'].astype(float)/result1['2017.1'].astype(float).sum()
result1['병상수']=result1['2017.2'].astype(float)/result1['2017.2'].astype(float).sum()
result1['병상확보율']=result1['2017.3'].astype(float)/100
result1=result1[result1['행정구역별(2)']!='소계']
new_data=pd.DataFrame()
new_data[0]=result1['행정구역별(1)']
new_data[1]=result1['행정구역별(2)']
new_data[2]=result1['병원수']
new_data[3]=result1['병상수']
new_data[4]=result1['병상확보율']


new_data.to_csv('/result/processed_지역별 의료기관 및 병상 수.csv', encoding='cp949')

           0     1         2         3       4
2      서울특별시   종로구  0.002517  0.001573  0.0206
3      서울특별시    중구  0.002733  0.000712  0.0114
4      서울특별시   용산구  0.001500  0.000461  0.0041
5      서울특별시   성동구  0.002175  0.001009  0.0069
6      서울특별시   광진구  0.002733  0.001058  0.0061
..       ...   ...       ...       ...     ...
240     경상남도   함양군  0.000191  0.000049  0.0026
241     경상남도   거창군  0.000317  0.000348  0.0119
242     경상남도   합천군  0.000221  0.000398  0.0180
244  제주특별자치도   제주시  0.003146  0.001927  0.0084
245  제주특별자치도  서귀포시  0.001017  0.000255  0.0030

[228 rows x 5 columns]