In [1]:
import numpy as np
import pandas as pd

In [5]:
data1 = pd.read_csv('../data/지역별 의료기관 및 병상수.csv', encoding='cp949')
result1 = data1.iloc[1:].replace('-','0')
result1=result1[result1['행정구역별(2)']!='소계']


result1

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,...,2017.19,2017.20,2017.21,2017.22,2017.23,2017.24,2017.25,2017.26,2017.27,2017.28
1,행정구역별(1),행정구역별(2),소계,병원수 (개),병상수 (개),병상확보율 (%),병원수,병상수,만명당종합병원수,병원수,...,병원수,병상수,병원수,병상수,병원수,병상수,소계,소계,소계,소계
4,서울특별시,종로구,164257,500,3387,2.06,4,2978,0.24,2,...,135,0,0,0,7,0,0,1,0,1
5,서울특별시,중구,134593,543,1533,1.14,3,1035,0.22,3,...,89,0,0,0,14,0,0,1,3,1
6,서울특별시,용산구,244444,298,992,0.41,1,727,0.04,2,...,60,0,1,5,3,0,0,1,0,1
7,서울특별시,성동구,312711,432,2173,0.69,1,844,0.03,7,...,92,0,0,0,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,경상남도,함양군,40582,38,106,0.26,0,0,0.00,1,...,8,0,0,0,0,0,0,1,0,0
243,경상남도,거창군,63290,63,750,1.19,0,0,0.00,3,...,14,0,0,0,0,0,0,1,0,0
244,경상남도,합천군,47542,44,857,1.80,0,0,0.00,3,...,13,0,0,0,0,0,0,1,0,0
246,제주특별자치도,제주시,492401,625,4149,0.84,5,1964,0.10,4,...,132,0,1,4,0,0,0,3,6,23
247,제주특별자치도,서귀포시,186371,202,550,0.30,1,246,0.05,3,...,49,0,0,0,0,0,0,3,4,24