In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1 = pd.read_csv("../data/지역별 건강보험 적용인구.csv", encoding='cp949')
df1 = df1[4:]
df1 = df1[df1["행정구역별(2)"] != "소계"]
df1_result = df1[['행정구역별(1)', '행정구역별(2)', '2017']]
df1_result

    행정구역별(1) 행정구역별(2)    2017
5      서울특별시      종로구  155238
6      서울특별시       중구  130605
7      서울특별시      용산구  224494
8      서울특별시      성동구  301411
9      서울특별시      광진구  355894
..       ...      ...     ...
244     경상남도      함양군   38528
245     경상남도      거창군   60336
246     경상남도      합천군   44804
248  제주특별자치도      제주시  470835
249  제주특별자치도     서귀포시  174954

[229 rows x 3 columns]

In [4]:
df1_result.to_csv("./result/processed_지역별 건강보험 적용인구.csv", header=False, index=False, encoding='cp949')

In [5]:
df_population = pd.read_csv("../data/지역별 인구수.csv", encoding='cp949')
df_population

       지역     인구수
0     종로구  157277
1      중구  127896
2     용산구  223898
3     성동구  302367
4     광진구  363934
..    ...     ...
224   함양군   37942
225   거창군   60083
226   합천군   43449
227   제주시  472399
228  서귀포시  169358

[229 rows x 2 columns]

In [16]:
df_insurance = pd.read_csv("./result/processed_지역별 건강보험 적용인구.csv", encoding='cp949')
df_insurance

          지역   지역구    적용인구
0      서울특별시   종로구  155238
1      서울특별시    중구  130605
2      서울특별시   용산구  224494
3      서울특별시   성동구  301411
4      서울특별시   광진구  355894
..       ...   ...     ...
224     경상남도   함양군   38528
225     경상남도   거창군   60336
226     경상남도   합천군   44804
227  제주특별자치도   제주시  470835
228  제주특별자치도  서귀포시  174954

[229 rows x 3 columns]

In [17]:
df_bind = df_insurance
df_bind['인구수'] = df_population['인구수']

In [21]:
df_bind['비율'] = df_bind['적용인구'] / df_bind['인구수'] * 100
df_bind

          지역   지역구    적용인구     인구수          비율
0      서울특별시   종로구  155238  157277   98.703561
1      서울특별시    중구  130605  127896  102.118127
2      서울특별시   용산구  224494  223898  100.266193
3      서울특별시   성동구  301411  302367   99.683828
4      서울특별시   광진구  355894  363934   97.790808
..       ...   ...     ...     ...         ...
224     경상남도   함양군   38528   37942  101.544463
225     경상남도   거창군   60336   60083  100.421084
226     경상남도   합천군   44804   43449  103.118599
227  제주특별자치도   제주시  470835  472399   99.668924
228  제주특별자치도  서귀포시  174954  169358  103.304243

[229 rows x 5 columns]

In [22]:
max_rate = df_bind['비율'].max()
min_rate = df_bind['비율'].min()
print(max_rate, min_rate)

113.01416048550237 87.74798343143667

In [23]:
df_bind['정규분포'] = df_bind['비율'].astype(float) - df_bind['비율'].min()
df_bind

          지역   지역구    적용인구     인구수          비율       정규분포
0      서울특별시   종로구  155238  157277   98.703561  10.955578
1      서울특별시    중구  130605  127896  102.118127  14.370144
2      서울특별시   용산구  224494  223898  100.266193  12.518209
3      서울특별시   성동구  301411  302367   99.683828  11.935844
4      서울특별시   광진구  355894  363934   97.790808  10.042825
..       ...   ...     ...     ...         ...        ...
224     경상남도   함양군   38528   37942  101.544463  13.796479
225     경상남도   거창군   60336   60083  100.421084  12.673101
226     경상남도   합천군   44804   43449  103.118599  15.370615
227  제주특별자치도   제주시  470835  472399   99.668924  11.920941
228  제주특별자치도  서귀포시  174954  169358  103.304243  15.556260

[229 rows x 6 columns]

In [26]:
df_bind['정규분포'] = df_bind['정규분포'] / df_bind['정규분포'].max()
df_bind['정규분포'].max(), df_bind['정규분포'].min()
df_bind

          지역   지역구    적용인구     인구수          비율      정규분포
0      서울특별시   종로구  155238  157277   98.703561  0.433606
1      서울특별시    중구  130605  127896  102.118127  0.568750
2      서울특별시   용산구  224494  223898  100.266193  0.495453
3      서울특별시   성동구  301411  302367   99.683828  0.472404
4      서울특별시   광진구  355894  363934   97.790808  0.397481
..       ...   ...     ...     ...         ...       ...
224     경상남도   함양군   38528   37942  101.544463  0.546045
225     경상남도   거창군   60336   60083  100.421084  0.501584
226     경상남도   합천군   44804   43449  103.118599  0.608347
227  제주특별자치도   제주시  470835  472399   99.668924  0.471814
228  제주특별자치도  서귀포시  174954  169358  103.304243  0.615695

[229 rows x 6 columns]

In [27]:
df_bind.drop(['비율', '적용인구', '인구수'], axis=1, inplace=True)
df_bind

          지역   지역구      정규분포
0      서울특별시   종로구  0.433606
1      서울특별시    중구  0.568750
2      서울특별시   용산구  0.495453
3      서울특별시   성동구  0.472404
4      서울특별시   광진구  0.397481
..       ...   ...       ...
224     경상남도   함양군  0.546045
225     경상남도   거창군  0.501584
226     경상남도   합천군  0.608347
227  제주특별자치도   제주시  0.471814
228  제주특별자치도  서귀포시  0.615695

[229 rows x 3 columns]

In [28]:
df_bind.to_csv("./result/processed_지역별 건강보험 적용인구.csv", header=False, index=False, encoding='cp949')